@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
*{margin: 0; padding: 0;}

nav{
	background-color: #feecc7;
	text-align: right;
	padding: 30px;
}

.logo {
	width: 190px;
	height: 100px;
}

.a-menu{
	margin-right: 30px;
	font-size: 1.2em;
	font-family: 'Montserrat', sans-serif;;
}

.a-menu:link, .a-menu:visited{
	color: #c29970;
}

.a-menu:hover, .a-menu:active{
	color: #a5493a;
}

main{
	width: 100%;
	background-color: #FFF;
	padding: 20px;
	box-sizing: border-box;
}

h2{
	font-family: 'DM Serif Text', serif;
	font-size: 2rem;
	color: #c29970;
	text-align: left;
	margin-bottom: 30px;
}

p{
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
	color: #666;
	text-align: justify;
	line-height: 30px;
}

#container{
	display: flex;
	margin-top: 15px;
	margin-bottom: 20px;
	text-align: center;
}

.card{
	background-color: #CCC;
	margin: 10px;
	width: 25%;
	border-radius: 8px;
	box-shadow: 0px 4px 8px #CCC;
	transition: 0.5s;
}

.card:hover{
	box-shadow: 0px 8px 16px #CCC;
}

.card-content{
	padding: 10px;
}

.card-content p{
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
	line-height: 20px;
}

section{
	width: 100%;
	background-color: #feecc7;
	padding: 20px;
	box-sizing: border-box;
}

#container-medico{
	display: flex;
	margin-top: 15px;
	margin-bottom: 20px;
	text-align: center;
}

.card-medico{
	background-color: #FFF;
	margin: 30px;
	width: 25%;
	border-radius: 8px;
}

footer{
	display: flex;
	background-color: #0062AE;
	padding: 10px;
	height: 25px;
	justify-content: center;
	align-items: center;
}

footer p{
	text-align: center;
	color: #FFF;
}

footer a{
	color: #FFF;
	text-decoration: none;
}

footer a:hover{
	color: #000;
}

/* Daqui pra baixo é a página de registro */

#container-registro {
	display: flex;
}

#bloco-registro {
	display: flex;
	flex-direction: column;
	background-color: #0062AE;
	width: 720px;
	height: 100vh;
	align-items: center;
	justify-content: center;
}

main .titulo {
	font-family: "Jost", sans-serif;
	font-weight: 300;
	color: #6E6E6E;
}

#box-form-registro {
	display: flex;
	background-color: #0062AE;
	padding: 0;
	align-items: center;
	justify-content: center;
}

#form-registro {
	display: flex;
	flex-direction: column;
	height: 450px;
	width: 475px;
	align-items: center;
	justify-content: center;
}

.registro-input{
	width: 450px;
	height: 35px;
	border-radius: 5px;
	background-color: #F8F5F5;
	border: 1px solid lightgray;
	margin-top: 10px;
	font-family: 'Jost', sans-serif;
	color: rgba(0, 0, 0, 0.7);
	padding: 5px;
}

.registro-input::placeholder {
	font-family: 'Jost', sans-serif;
	color: rgba(0, 0, 0, 0.44);
	padding: 5px;
}

#submit-registro {
	width: 100px;
	height: 32px;
	background-color: #F8F5F5;
	border-radius: 6px;
	border: 1px solid lightgray;
	box-shadow: 0px 3px gray;
	margin-top: 30px;
}

#bloco-imagens-registro {
	background-color: #FFF;
}

.bt-voltar {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 20px;
	right: 20px;
	background-color: #F8F5F5;
	box-shadow: 0px 3px gray;
	border-radius: 22px;
	height: 35px;
	width: 100px;
}

.bt-voltar a {
	font-family: "Jost", sans-serif;
	font-style: normal;
	text-decoration: none;
	color: #000;
}

#imagem-registro {
	height: 549px;
	width: 493px;
	position: absolute;
	bottom: 0;
	right: 5px;
}

/* Aqui termina a estilização da página de registro */

/* Estilização da página de situação dos exames */

.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #0062AE;
}

.user-profile {
	height: 50px;
	width: 50px;
}

#box-situacao {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

#box-interacao {
	display: flex;
	justify-content:left;
	flex-direction: column;
	background-color: #FFF;
	width: fit-content;
}

#bt-add-exame {
	background-color: #F2F2F2;
	width: 150px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	box-shadow: 0px 2px lightgray;
	margin: 10px 0px;
}

#add-box {
	color: #F2F2F2;
	background-color: #AAAAAA;
	margin-right: 10px;
}

#bt-add-exame p {
	font-family: "Jost", sans-serif;
	color: #333333;
	opacity: 0.81;
}

#barra-pesquisa {
	background-color: #DEDEDE;
	width: 700px;
	height: 35px;
	border-radius: 7px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 10px 0px;
}

#icon-lupa {
	color: #3E3E3E;
}

#barra-pesquisa input{
	border: 0px transparent;
	background-color: #DEDEDE;
	width: 450px;
	height: 25px;
	font-family: "Jost", sans-serif;
	color: #333333;
	margin-left: 7px;
}

#filtros {
	display: flex;
	background-color: #0062AE;
	align-items: center;
	justify-content: space-around;
	width: 700px;
	border-radius: 8px;
}

#filtros p {
	color: white;
}

#filtros p span {
	margin-left: 4px;
}

#tabela-pacientes {
	background-color: #FFF;
	display: flex;
	flex-direction: column;
	width: fit-content;
}

.card-lab {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #F1DAC4;
	width: 800px;
	height: 75px;
	margin: 5px 0px;
	border-radius: 10px;
	padding: 15px;
	text-decoration: none;
}

.card-lab p {
	color: #000;
	font-weight: 500;
	font-family: "Jost", sans-serif;
}

.card-pronto {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: rgba(0, 98, 174, 0.71);
	width: 800px;
	height: 75px;
	margin: 5px 0px;
	border-radius: 10px;
	padding: 15px;
	text-decoration: none;
}

.card-pronto p {
	color: #000;
	font-weight: 500;
	font-family: "Jost", sans-serif;
}

.bt-home {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #F8F5F5;
	box-shadow: 0px 3px gray;
	border-radius: 22px;
	height: 35px;
	width: 250px;
	margin-top: 50px;
}

.bt-home a {
	font-family: "Jost", sans-serif;
	font-style: normal;
	text-decoration: none;
	color: #000;
}