@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
*{margin: 0; padding: 0;}

#header-home {
	display: flex;
	justify-content: space-between;
	padding: 0px 30px;
	align-items: center;
	background-color: #FFF;
	background-color: #488BBF;
}

#header-home img {
	height: 160px;
	width: 250px;
}

#header-home h1 {
	font-family: 'Jost', sans-serif;
	font-weight: 500;
	font-size: 2.5rem;
	color: #FFF;
}

#header-home h2 {
	font-family: 'Jost', sans-serif;
	font-weight: 500;
	font-size: 2.3rem;
	color: #FFF;
}

nav{
	display: flex;
	background-color: #0062AE;
	padding: 20px;
	justify-content: center;
	align-items: center;
}

.logo {
	width: 190px;
	height: 100px;
}

.a-menu{
	margin: 0px 60px;
	font-size: 1.2em;
	font-family: 'Jost', sans-serif;
	color: #FFF;
	text-decoration: none;
	font-weight: 300;
}

.a-menu:hover{
	color: #000;
}

#home-main{
	display: flex;
	width: 100%;
	background-color: #FFF;
	padding: 20px;
	box-sizing: border-box;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

#home-main h2 {
	text-align: center;
	font-family: 'Jost', sans-serif;
	font-weight: 500;
	font-size: 2.5rem;
	color: rgba(0, 0, 0, 0.63);
}

#home-main article {
	padding: 50px;
}

#home-main article p{
	font-family: 'Jost', sans-serif;
	font-size: 1.1rem;
	color: #000;
	text-align: justify;
	font-weight: 350;
}

ul{
	list-style-type: circle;
	padding:20px 50px;
}

li{
	font-family: 'Jost', sans-serif;
	font-size: 1.1rem;
	color:#000;
	margin-bottom: 10px;
	text-align: justify;
}


#container{
	display: flex;
	margin-top: 15px;
	margin-bottom: 20px;
	width: fit-content;
	align-items: center;
	justify-content: space-evenly;
}

.imagem-card{
	width: 350px;
	height: 400px;
}

.card{
	background-color: #CCC;
	margin: 10px;
	width: 350px;
	height: 400px;
	border-radius: 8px;
	box-shadow: 0px 4px 8px #404040;
	transition: 0.5s;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: end;
	margin: 20px 50px;
}

.card:hover{
	box-shadow: 8px 16px 26px #CCC;
}

.card img {
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

.main-card-content {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: justify;
	background-color: #0062AE;
	width: 350px;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
}

.main-card-content p{
	font-family: 'Jost', sans-serif;
	padding: 10px;
	color: #FFF;
	font-size: 0.9rem;
	font-weight: 300;
}

#pag-unidades {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #0062AE;
}

#pag-unidades h2 {
	font-family: 'Jost', sans-serif;
	color: #FFF;
	font-weight: 400;
	font-size: 2.7rem;
	margin: 80px 0px 40px 0px;
}

#container-unidades {
	display: flex;
	width: 850px;
	height: fit-content;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 40px 0px 80px 0px;
}

.card-unidades {
	display: flex;
	background-color: #FFF;
	align-items: center;
	justify-content: end;
	margin: 20px 20px;
	border-radius: 8px;
}

.logo-unidade{
	width: 300px;
	height: 300px;
	padding: 20px;
}

.coluna-texto-unidade p{
	text-align: justify;
	padding: 30px;
	font-family: 'Jost', sans-serif;
	font-size: 1.1rem;
}

.coluna-texto-unidade h2{
	text-align: center;
	padding: 20px;
	color: #000;
}



#pag-como-chegar {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#pag-como-chegar h1 {
	font-family: 'Jost', sans-serif;
	color: rgba(0, 0, 0, 0.67);
	font-weight: 500;
	font-size: 2.2rem;
	margin: 40px;
}

#pag-como-chegar iframe {
	width: 700px;
	height: 450px;
	border-radius: 15px;
}

#info-loc {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 90vw;
	justify-content: space-between;
}

.texto-endereço{
	background-color: #4685B6;
	margin: 50px;
	border-radius: 10px;
}

.texto-endereço p{
	color: #FFF;
	padding: 30px;
	font-family: 'Jost', sans-serif;
	font-size: 1.1rem;
}


#info-loc img {
	height: 400px;
	width: 500px;
}

#info-loc h2 {
	background-color: #E6E6E6;
	font-family: 'Jost', sans-serif;
	font-weight: 400;
	text-align: center;
	padding: 10px;
	border-radius: 10px;
}

#pag-perguntas {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #0062AE;
	height: 700px;
}

#pag-perguntas h1 {
	font-size: 2.0rem;
	font-family: 'Jost', sans-serif;
	color: #FFF;
	font-weight: 450;
	margin-bottom: 40px;
}

#pag-perguntas p {
	font-size: 1.1rem;
	font-family: 'Jost', sans-serif;
}

.card-perguntas {
	display: flex;
	background-color: #F8F5F5;
	height: 50px;
	width: 600px;
	border-radius: 10px;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
	margin: 20px 20px;
	color: rgba(0, 0, 0, 0.46);
}

#pag-duvidas {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 700px;
}

#pag-duvidas p{
	font-size: 1.1rem;
	font-family: 'Jost', sans-serif;
	text-align: center;
	justify-content: center;
}

.contatos-botao{
	justify-content: center;
}

.container-duvida{
	background-color: #E3EFFF;
	height: 500px;
	width: 800px;
	border-radius: 30px;
}

#art-duvidas {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: 'Jost', sans-serif;
	margin: 40px 0px 10px 0px;
}

#art-duvidas p {
	font-size: 1.7rem;
	font-weight: 400;
	text-align: center;
}

.texto-duvida{
	text-align: center;
}

#art-duvidas h1 {
	font-size: 2.5rem;
	font-weight: 450;
}

.contatos {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 10px;
	width: 200px;
	background-color: #4175B9;
	border-radius: 10px;
	box-shadow: 2px 2px lightgray;
	margin: 30px 0px;
	text-align: center;
}

.contatos p {
	font-family: 'Jost', sans-serif;
	font-size: 1.3rem;
}

.contatos-botao{
	Display: grid;
	align-items: center;
	Justify-content: center;
	flex-direction: center;
	padding: 30px;
}

.logo-rodape {
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 20px; 
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px; 
}

.logo-rodape img {
    max-height: 100px; 
    object-fit: contain;
}

footer{
	display: flex;
	background-color: #0062AE;
	padding: 10px;
	height: 40px;
	justify-content: center;
	align-items: center;
}


footer p{
	text-align: center;
	color: #FFF;
	font-family: 'Jost', sans-serif;
	font-size: 1.2rem;
}

footer a{
	color: #FFF;
	text-decoration: none;
}

footer a:hover{
	color: #FFED00;
}

/* Daqui pra baixo é a página de registro */

#container-registro {
	display: flex;
}

#bloco-registro {
	display: flex;
	flex-direction: column;
	background-color: #0062AE;
	width: 720px;
	height: 100vh;
	align-items: center;
	justify-content: center;
}

#bloco-registro .titulo {
	font-family: "Jost", sans-serif;
	font-weight: 300;
	color: #F8F5F5;
}

#box-form-registro {
	display: flex;
	background-color: #0062AE;
	padding: 0;
	align-items: center;
	justify-content: center;
}

#form-registro {
	display: flex;
	flex-direction: column;
	height: 450px;
	width: 475px;
	align-items: center;
	justify-content: center;
}

.registro-input{
	width: 450px;
	height: 35px;
	border-radius: 5px;
	background-color: #F8F5F5;
	border: 1px solid lightgray;
	margin-top: 10px;
	font-family: 'Jost', sans-serif;
	color: rgba(0, 0, 0, 0.7);
	padding: 5px;
}

.registro-input::placeholder {
	font-family: 'Jost', sans-serif;
	color: rgba(0, 0, 0, 0.44);
	padding: 5px;
}

#submit-registro {
	width: 100px;
	height: 32px;
	background-color: #F8F5F5;
	border-radius: 6px;
	border: 1px solid lightgray;
	box-shadow: 0px 3px gray;
	margin-top: 30px;
}

#bloco-imagens-registro {
	background-color: #FFF;
}

.bt-voltar {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 20px;
	right: 20px;
	background-color: #F8F5F5;
	box-shadow: 0px 3px gray;
	border-radius: 22px;
	height: 35px;
	width: 100px;
}

.bt-voltar a {
	font-family: "Jost", sans-serif;
	font-style: normal;
	text-decoration: none;
	color: #000;
}

#imagem-registro {
	height: 80%;
	width: 35%;
	position: absolute;
	bottom: 0;
	right: 5px;
}

/* Aqui termina a estilização da página de registro */

/*PÁGINA DE LOGIN*/

#container-login{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	background-color: #FFF;
}

.bt-voltar-login {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 30px;
	left: 30px;
	background-color: #E8E5E5;
	box-shadow: 0px 3px gray;
	border-radius: 22px;
	height: 35px;
	width: 100px;
}

.bt-voltar-login a {
	font-family: "Jost", sans-serif;
	font-style: normal;
	text-decoration: none;
	color: #000;
}

#bloco-imagem-login{
	height: 600px;
	width: 900px;
	background-color: #FFF;
}

#bloco-texto-login{
	background-color: #0062AE;
	height: 625px;
	width: 700px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

#titulo-login {
	font-family: "Jost", sans-serif;
	font-weight: 200;
	color: #F8F5F5;
}

form{
	width: 400px;
}

.login-input{
	width: 450px;
	height: 45px;
	border-radius: 5px;
	background-color: #F8F5F5;
	border: 1px solid lightgray;
	margin-top: 20px;
	font-family: 'Jost', sans-serif;
	color: rgba(0, 0, 0, 0.7);
	padding: 5px;
}

.login-input::placeholder {
	font-family: 'Jost', sans-serif;
	color: rgba(0, 0, 0, 0.44);
	padding: 5px;
}

#box-form-login {
	display: flex;
	background-color: #0062AE;
	padding: 0;
	align-items: center;
	justify-content: center;
}

#submit-login {
	width: 100px;
	height: 32px;
	background-color: #F8F5F5;
	border-radius: 6px;
	border: 1px solid lightgray;
	box-shadow: 0px 3px gray;
	margin-top: 30px;
}

#img-login{
	width: 600px;
	height: 600px;
	margin-left: 60px;
}

#img-login-div{
	background-color: #FFF;
	width: 600px;
	height: 600px;
}

.link-login {
    text-align: center;
    display: flex;
    margin: 20px;
}

.a-login {
    display: block;
    margin: 5px 0;
    color: #FFF;
    padding: 10px;
    font-family: "Jost", sans-serif;
	font-style: normal;
}

.a-login:hover {
    text-decoration: underline;
    color: #C8DBEB;
}

/*AQUI TERMINA O LOGIN*/

/* Estilização da página de situação dos exames */

.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #0062AE;
}

.user-profile {
	height: 50px;
	width: 50px;
}

#box-situacao {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

#box-situacao .titulo {
	font-family: 'Jost', sans-serif;
	color: #6E6E6E;
	font-weight: 300;
	font-size: 2.5rem;
	margin: 30px 0px 15px 0px;
}

#box-interacao {
	display: flex;
	justify-content:left;
	flex-direction: column;
	background-color: #FFF;
	width: fit-content;
	margin: 15px 0px 30px 0px;
}

#bt-add-exame {
	background-color: #E2E2E2;
	width: 150px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	box-shadow: 0px 2px lightgray;
	margin: 10px 0px;
}

#add-box {
	color: #F2F2F2;
	background-color: #AAAAAA;
	margin-right: 10px;
}

#bt-add-exame p {
	font-family: "Jost", sans-serif;
	color: #333333;
	opacity: 0.81;
}

#barra-pesquisa {
	background-color: #DEDEDE;
	width: 750px;
	height: 50px;
	border-radius: 7px;
	display: flex;
	align-items: center;
	justify-content: left;
	margin: 10px 0px;
}

#icon-lupa {
	color: #3E3E3E;
	margin-left: 20px;
}

#barra-pesquisa input{
	border: 0px transparent;
	background-color: #DEDEDE;
	width: 700px;
	height: 35px;
	font-family: "Jost", sans-serif;
	color: #333333;
	margin-left: 7px;
}

#filtros {
	display: flex;
	background-color: #0062AE;
	align-items: center;
	justify-content: space-around;
	width: 750px;
	height: 50px;
	border-radius: 8px;
	margin: 10px 0px;
}

#filtros p {
	color: white;
	font-family: 'Jost', sans-serif;
	font-size: 1.4rem;
}

#filtros p span {
	margin-left: 4px;
}

#tabela-pacientes {
	background-color: #FFF;
	display: flex;
	flex-direction: column;
	width: fit-content;
}

.card-lab {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #F1DAC4;
	width: 800px;
	height: 75px;
	margin: 5px 0px;
	border-radius: 10px;
	padding: 15px;
	text-decoration: none;
}

.card-lab p {
	color: #000;
	font-weight: 500;
	font-family: "Jost", sans-serif;
}

.card-pronto {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: rgba(0, 98, 174, 0.71);
	width: 800px;
	height: 75px;
	margin: 5px 0px;
	border-radius: 10px;
	padding: 15px;
	text-decoration: none;
}

.card-pronto p {
	color: #000;
	font-weight: 500;
	font-family: "Jost", sans-serif;
}

.bt-home {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #F8F5F5;
	box-shadow: 0px 3px gray;
	border-radius: 22px;
	height: 35px;
	width: 250px;
	margin: 50px 0px;
}

.bt-home a {
	font-family: "Jost", sans-serif;
	font-style: normal;
	text-decoration: none;
	color: #000;
}

/* Estilização da página dos resultados */

#pagina-resultado {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#container-resultado {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
}

#container-bt-imprimir {
	display: flex;
	align-items: center;
	justify-content: right;
	margin: 20px;
	width: 30%;
}

#bt-imprimir {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #DEDEDE;
	border-radius: 10px;
	box-shadow: 1px 1px gray;
	height: 30px;
	width: 80px;
}

#bt-imprimir ion-icon {
	color: #000;
}

#pdf {
	height: 70vh;
	margin: 30px;
	width: 30%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #8E8E8E;
}

#pdf p {
	font-family: 'Jost', sans-serif;
	font-weight: 500;
	color: rgba(0, 0, 0, 0.5);
}

@media (max-width: 430px) {
	#header-home {
        flex-direction: column;
		width: 100%;
        padding: 10px;
    }

    #header-home img {
        height: 120px;
        width: 200px;
    }

    #header-home h1, #header-home h2 {
        font-size: 1.8rem;
        text-align: center;
    }

    nav {
        flex-direction: column;
		width: 100%;
        padding: 10px;
    }

    .a-menu {
        margin: 10px 0px;
    }

    #home-main {
        padding: 10px;
    }

    #home-main h2 {
        font-size: 2rem;
    }

    #home-main article {
        padding: 20px;
    }

    ul {
        padding: 10px;
    }

    #container {
        flex-direction: column;
        margin: 0;
    }

    .card {
        width: 300px;
        height: auto;
        margin: 10px;
    }

	.imagem-card {
        width: 100%;
        max-width: 300px;
        height: auto;
        margin: 0 auto;
    }

    .main-card-content {
        width: 100%;
    }

	#pag-unidades {
		width: 100%;
	}

    #container-unidades {
        width: 100%;
    }

    .card-unidades {
        flex-direction: column;
        margin: 10px;
    }

	.logo-unidade {
        width: 100%;
        max-width: 250px; 
        height: auto;
    }

    .coluna-texto-unidade p, .coluna-texto-unidade h2 {
        padding: 10px;
        font-size: 1rem;
    }

	#pag-como-chegar {
		justify-content: center;
		align-items: center;
	}

    #pag-como-chegar iframe {
        width: 100%;
        height: 300px;
    }

    #info-loc {
        flex-direction: column;
        width: 100%;
    }

    .texto-endereço, #info-loc img {
        width: 100%;
        margin: 20px 0;
    }

    #pag-perguntas, #pag-duvidas {
        padding: 10px;
        height: auto;
		width: 100%;
    }

    .card-perguntas {
		width: 90%;
        max-width: 400px;
        margin: 10px auto;
        padding: 8px;
        height: auto;
    }

    .container-duvida {
        width: 100%;
        height: auto;
        padding: 20px;
    }

    .contatos {
        width: 100%;
        margin: 20px 0;
    }

    .contatos-botao {
        padding: 20px;
    }

    .logo-rodape {
        padding: 10px;
        flex-direction: column;
    }

    footer {
        flex-direction: column;
        height: auto;
        padding: 10px;
    }

	/* Ajusta a flexibilidade do container principal */
    #container-registro {
        flex-direction: column; /* Organiza os elementos em coluna */
        align-items: center; /* Centraliza horizontalmente */
    }

    /* Ajusta o bloco de registro para ocupar melhor o espaço */
    #bloco-registro {
        width: 100%; /* Ocupa toda a largura disponível */
        height: auto; /* Permite que a altura se ajuste automaticamente */
        padding: 20px; /* Adiciona padding para melhor espaçamento */
    }

    /* Ajusta o tamanho do formulário */
    #form-registro {
        width: 90%; /* Ajusta a largura do formulário */
        max-width: 350px; /* Define um tamanho máximo */
    }

    /* Ajusta o tamanho dos inputs */
    .registro-input {
        width: 100%; /* Ocupa toda a largura do formulário */
        max-width: 350px; /* Define um tamanho máximo */
    }

    /* Ajusta a imagem de registro para manter a proporção */
    #imagem-registro {
        width: 100%; /* Ajusta a largura para ocupar o espaço disponível */
        max-width: 350px; /* Define um tamanho máximo */
        height: auto; /* Mantém a proporção da imagem */
        position: relative; /* Ajusta a posição para o layout em coluna */
        bottom: auto; /* Remove a posição fixa do fundo */
        right: auto; /* Remove a posição fixa à direita */
        margin-top: 20px; /* Adiciona espaçamento acima da imagem */
    }

    /* Ajusta o botão de voltar */
    .bt-voltar {
        position: relative; /* Remove a posição fixa */
        top: auto; /* Remove a posição fixa superior */
        right: auto; /* Remove a posição fixa à direita */
        margin-top: 20px; /* Adiciona espaçamento acima */
    }

	/* Ajusta a flexibilidade do container principal */
    #container-login {
        flex-direction: column; /* Alinha os elementos verticalmente */
        padding: 20px; /* Adiciona padding para espaçamento */
    }

    /* Ajusta o botão de voltar */
    .bt-voltar-login {
        position: relative; /* Remove a posição fixa */
        top: auto; /* Remove a posição fixa superior */
        left: auto; /* Remove a posição fixa à esquerda */
        margin-bottom: 20px; /* Adiciona espaçamento abaixo */
    }

    /* Ajusta o bloco de texto de login */
    #bloco-texto-login {
        width: 100%; /* Ocupa toda a largura disponível */
        height: 60vh; /* Permite que a altura se ajuste automaticamente */
        padding: 20px; /* Adiciona padding para melhor espaçamento */
    }

    /* Ajusta o formulário */
    form {
        width: 90%; /* Ajusta a largura do formulário */
        max-width: 350px; /* Define um tamanho máximo */
    }

    /* Ajusta o tamanho dos inputs de login */
    .login-input {
        width: 100%; /* Ocupa toda a largura do formulário */
        max-width: 350px; /* Define um tamanho máximo */
    }

    /* Ajusta o bloco de imagem de login */
    #bloco-imagem-login, #img-login-div {
        width: 100%; /* Ajusta a largura para ocupar o espaço disponível */
        height: 40vh; /* Permite que a altura se ajuste automaticamente */
        margin-left: 0; /* Remove a margem à esquerda */
    }

    #img-login {
        width: 100%; /* Ajusta a imagem para ocupar a largura do contêiner */
        max-width: 350px; /* Define um tamanho máximo para a imagem */
        height: auto; /* Mantém a proporção da imagem */
        margin: 0 auto; /* Centraliza a imagem */
    }

    /* Ajusta os links de login */
    .link-login {
        flex-direction: column; /* Alinha os links verticalmente */
        margin: 10px 0; /* Ajusta o espaçamento vertical */
    }

    .a-login {
        margin: 10px 0; /* Ajusta o espaçamento para os links */
    }

	/* Ajusta a navbar */
    .navbar {
		flex-direction: row;
        padding: 10px;
    }

    /* Ajusta o perfil do usuário */
    .user-profile {
        height: 40px;
        width: 40px;
    }

    /* Ajusta o box de situação */
    #box-situacao .titulo {
        font-size: 2rem;
        text-align: center;
        margin: 20px 0;
    }

    /* Ajusta o box de interação */
    #box-interacao {
        width: 100%;
        align-items: center;
    }

    /* Ajusta o botão de adicionar exame */
    #bt-add-exame {
        width: 100%;
        max-width: 200px;
        margin: 10px auto;
    }

    /* Ajusta a barra de pesquisa */
    #barra-pesquisa {
        width: 100%;
        max-width: 400px;
        margin: 10px auto;
    }

    #barra-pesquisa input {
        width: calc(100% - 40px); /* Ajusta a largura para incluir margens e ícones */
    }

    /* Ajusta os filtros */
    #filtros {
        width: 100%;
        max-width: 400px;
        margin: 10px auto;
    }

    #filtros p {
        font-size: 1.2rem;
    }

    /* Ajusta a tabela de pacientes */
    #tabela-pacientes {
        width: 100%;
    }

    /* Ajusta os cards de laboratório e pronto */
    .card-lab, .card-pronto {
        width: 100%;
        max-width: 400px;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }

    /* Ajusta o botão home */
    .bt-home {
        width: 100%;
        max-width: 200px;
        margin: 20px auto;
    }

	/* Ajusta o container de resultados */
    #container-resultado {
        width: 100%;
        padding: 10px;
    }

    /* Ajusta o container do botão de imprimir */
    #container-bt-imprimir {
        width: 100%; /* Ocupa toda a largura disponível */
        justify-content: center; /* Centraliza o botão */
        margin: 10px 0; /* Ajusta o espaçamento vertical */
    }

    /* Ajusta o botão de imprimir */
    #bt-imprimir {
        width: 100px; /* Aumenta a largura para melhor acessibilidade */
        height: 40px; /* Aumenta a altura para melhor acessibilidade */
    }

    /* Ajusta o PDF */
    #pdf {
        width: 90%; /* Ocupa a maior parte da largura disponível */
        height: 60vh; /* Ajusta a altura para caber melhor em telas menores */
        margin: 20px 0; /* Ajusta o espaçamento vertical */
    }

    /* Ajusta o texto dentro do PDF */
    #pdf p {
        font-size: 1rem; /* Ajusta o tamanho da fonte para melhor legibilidade */
    }
}